.logo {
  font-family: "Silkscreen";
  font-size: 55px;
  line-height: 70px;
  letter-spacing: -0.115em;
  color: var(--white);
}
.logo > span {
  color: var(--purple-dark);
}
.navbar{
    z-index: 5;
    width: 100vw;
    position:fixed;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
  font-size: 1.3em;
  background: linear-gradient(180deg, #201c33 0%, rgba(17, 21, 31, 0) 100%);
}
.menu {
  color: var(--purple-light);
  display: flex;
  gap: 2vw;
}
.login {
  display: flex;
  align-items: center;
  gap: 2vw;
  color: white;
}
